<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="jumbotron">
      <div id="nums" class="container text-center"></div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<hr>
<!-- Button trigger modal -->
<div class="row">
    <div class="col-md-4">
      <%= link_to "Назад", groups_path, class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal2">
        Показать как столбец 
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
        Показать результат
      </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <h1>Результат : <strong><%= @numbers.sum(:amount) %></strong></h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Закрыть</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2"></h4>
      </div>
      <div class="modal-body">
        <% @numbers.each do |n| %>
          <h1><%= n.amount%></h1>
        <% end %>
        <hr style="height:1px;border:none;color:#333;background-color:#333;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Закрыть</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<script>
  var numbers = [];
  var timer;
  timer = <%= @timer %>;
  numbers = <%= @numbers.pluck(:amount) %>;
  numbers.unshift("Поехали!");
  numbers.push("Конец");
  
  function show_numbers(array, delegate, delay) {
    array.forEach(function (el, i) {
      setTimeout(() => {
        delegate(array[i]);
      }, i * delay);
    });
  }

  function clear_numbers() {
    document.getElementById('nums').innerHTML = "";
  }

  show_numbers(numbers, function(obj) {
      clear_numbers();
      my_temp = document.getElementById('nums').innerHTML += '<h1>' + obj + '</h1>';
    }, timer * 1000);
  

  // console.log(numbers);
</script>