<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Операция:</strong>
  <%= @group.operation %>
</p>

<p>
  <strong>Количество цифр:</strong>
  <%= @group.digits %>
</p>

<p>
  <strong>Время перехода:</strong>
  <%= @group.timer %>
</p>

<p>
  <strong>Количество номеров:</strong>
  <%= @group.total %>
</p>
<!--
<p>
  <strong>Sum:</strong>
  <%#= @group.sum %>
</p>

<%#= link_to 'Edit', edit_group_path(@group) %> |-->
<%= link_to 'Back', groups_path %>
